// Fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Raleway+Dots);
$FontAwesomePath: "../bower_components/font-awesome/font";
@import "../bower_components/font-awesome/scss/font-awesome";
// Colors
$blue: #489ac9;
$light-gray: #f6f6f6;
$gold: #f5c056;
$gray: #555;
$carbon: #404040;