body {
	font-family: 'Droid Sans', Helvetica, sans-serif;
}

.site {
	background: url(../images/background-dark.jpg);
}

.content-area {
	background: url(../images/background-light.jpg);
	margin: 0 1em;
}