body {
	font-family: 'Droid Sans', Helvetica, sans-serif;
}

.site {
	background: url(../images/background-dark.jpg);
}

.content-area {
	background: url(../images/background-light.jpg);
	margin: 0 1em;
}

.posted-on {
	i {
		@extend %icon;
	}
}
.page-title {
	@extend %wrapper;
	color: #666;
	font-size: 2em;
	margin: 1em auto 0.5em;
	i {
		@extend %icon;
	}
}

// Layout
.site-content {
	margin-top: 5.5em;
}

.site-header {
	margin-left: 1em;
	margin-right: 1em;
}