.site-header {
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 0.5em;
	position: relative;
	z-index: 9999;
}

.inner-header {
	@extend %clearfix;
	width: 48em;
	margin: 0 auto;
}

.site-branding {
	float: left;
}

.main-navigation{
	clear: none;
	float: left;
	width: auto;
	a {
		border-top: 5px solid transparent;
		color: $gray;
		height: 5em;
		padding: 1.5em 1em;
		&:visited {
			color: $gray;
		}
	}
	.menu-item {
		@include transition (all 0.3s);
		&:hover {
			background-color: $blue;
			a {
				color: #fff;
			}
		}
	}
	.current-menu-item {
		a {
			border-top-color: $blue;
		}
	}
}

.site-title {
	@extend %ir;
	background: url(../images/assets.png) 0 -80px;
	margin: 0.3em 3em 0 0;
	width: 90px;
	height: 69px;
}

// a bit of layout
.content-area {
	margin-top: -5.5em;
}