.site-header {
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 0.5em;
	position: relative;
	z-index: 9999;
}

.site-branding {
	float: left;
}

.main-navigation{
	clear: none;
	float: left;
	width: auto;
	a {
		height: 5em;
		padding: 1em;
	}
}

.site-title {
	a {
		background: url(../images/assets.png) 0 -80px;
		display: block;
		width: 90px;
		height: 69px;
	}
}

// a bit of layout
.content-area {
	margin-top: -5.5em;
}