/*********       Custom Theme           ************/

/* Global Styles */

h2 {
	font-size: 24px;
	font-weight: bold;
}

.homepage-slide {
	max-height: 34.375em;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	.slide-text {
		color: white;
		padding: 1em;
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		right: 2em;
		bottom: 3em;
	}
}

.bx-wrapper {
	.bx-viewport {
		border: none;
	}
}

.section {
	@extend %section;
}

.list-container {
	@extend %clearfix;
	margin-bottom: 1.5em;
}
.column-3 {
	padding: 0 1em;
	float: left;
	margin: 0;
	width: 33.333333%;
}
li {
	list-style: url('../images/list_check.png');
}

.info {
	background: url('../images/background_blue.jpg');
	color: #fff;
	margin-top: -2em;
	padding: 1em;
	text-align: center;
	@include box-shadow(0 1px 1px rgba(223,85,38,0.35));
	a {
		color: $gold;
	}
}