h2 {
	font-size: 24px;
	font-weight: bold;
}

.homepage-slide {
	max-height: 34.375em;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	.slide-text {
		color: white;
		padding: 1em;
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		right: 2em;
		bottom: 3em;
	}
}

.bx-wrapper {
	.bx-viewport {
		border: none;
		left: 0;
		@include box-shadow(none);
	}
}

.container {
	@extend %clearfix;
	background: #fff;
	margin: 1em auto 2em;
	padding: 1.5em 2em;
	position: relative;
	width: 90%;
	@include box-shadow(0 1px 1px rgba(0,0,0,0.35));
	&:after {
		border-top: 1px solid #e0dfdf;
		border-bottom: 1px solid #fcfcfc;
		bottom: -1em;
		left: 0;
		content: "";
		display: block;
		position: absolute;
		width: 100%;
	}
}

.section {
	@extend %section;
	margin-bottom: 1em;
}

.list-container {
	@extend %clearfix;
	margin-bottom: 1em;
}
.column-3 {
	padding: 0 1em;
	float: left;
	margin: 0;
	width: 33.333333%;
}
li {
	list-style: url('../images/list_check.png');
}

.info {
	background: url('../images/background_blue.jpg');
	color: #fff;
	margin-top: -2em;
	padding: 1em;
	text-align: center;
	@include box-shadow(0 1px 1px rgba(223,85,38,0.35));
	a {
		color: $gold;
	}
}

.inner-container {
	@extend %clearfix;
}

.testimonials {
	.bx-prev {
		left: -22px;
	}
	.bx-next {
		right: -22px;
	}

}
.testimonial {
	padding: 0 1em;
}
.testimonial-content {
	border: 1px solid #dfdfdf;
	padding: 1em;
	position: relative;
	@include box-shadow(0 1px 1px rgba(0,0,0,0.35));
	&:after {
		content: "";
		background: url("../images/assets.png") 0 -150px;
		display: block;
		position: absolute;
		width: 21px;
		height: 22px;
		bottom: -21px;
		left: 3em;
	}
}
.testimonial-meta {
	margin-top: 1.2em;
	@media (min-width: 48em) {
		margin-left: 4.5em;
		margin-top: 0.3em;
	}
}

@media (min-width: 48em) {
	#vision {
		float: left;
		width: 48%;
	}
	#mission {
		float: left;
		margin-left: 4%;
		width: 48%;
	}
}
@media (min-width: 70em) {
	#about_us {
		float: left;
		width: 50%;
	}
	#informercial {
		float: left;
		margin-left: 3%;
		width: 47%;
	}
	#vision {
		float: left;
		width: 26.333%;
	}
	#mission {
		float: left;
		margin-left: 3%;
		width: 26.333%;
	}
	#values {
		float: left;
		margin-left: 3%;
		width: 40.333%;
	}
}