.container {
	@extend %clearfix;
	background: #fff;
	margin: 1em auto 2em;
	padding: 1.5em 2em;
	position: relative;
	width: 90%;
	@include box-shadow(0 1px 1px rgba(0,0,0,0.35));
	&:after {
		border-top: 1px solid #e0dfdf;
		border-bottom: 1px solid #fcfcfc;
		bottom: -1em;
		content: "";
		display: block;
		position: absolute;
		width: 100%;
	}
}