// Partners
.partner-single {
	@extend %box;
	margin: 0 0 2em;
	padding: 1em 1.5em;
	@media (min-width: 47em) {
		float: left;
		margin-left: 2.5%;
		margin-right: 2.5%;
		width: 45%;
	}
	@media (min-width: 60em) {
		width: 30%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	.image {
		min-height: 113px; // logo-slide image height
		text-align: center;
	}
	.title {
		border-bottom: 1px solid $light-gray;
		font-size: 1.5em;
		padding-bottom: 0.5em;
		text-align: center;
	}
	.description {
		margin-top: 1em;
	}
}