// Programs
.programs-wrapper {
	margin-top: 1em;
	a {
		color: $carbon;
		text-decoration: none;
	}
}
.program-preview {
	@extend %box;
	@extend %section;
	padding: 1em 1.5em;
	margin-bottom: 1.5em;
	&:hover {
		background-color: #fcfcfc;
	}
	@media (min-width: 55em) {
		float: left;
		margin-left: 2.5%;
		margin-right: 2.5%;
		width: 45%;
	}
}

.program-single {
	.content-wrapper {
		@extend %box;
		margin-bottom: 1em;
		padding: 2em;
	}
	.secondary-wrapper {
		margin-bottom: 2em;
	}
	h3 {
		border-bottom: 1px solid $light-gray;
		display: inline-block;
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	.speakers {
		@extend %bx-controls;
		@media (min-width: 62.5em) {
			float: left;
			margin-right: 5%;
			width: 45%;
		}
		.page-title {
			width: 100%;
		}
		.bx-controls-direction {
			a {
				padding-top: 2em;
			}
			.bx-prev {
				padding-left: 0.5em;
			}
			.bx-next {
				padding-right: 0.5em;
			}
		}
	}
	.speaker-wrap {
		@extend %clearfix;
		@extend %box;

	}
	.speaker {
		@extend %section;
		padding: 1em 1.5em;
		.title {
			padding-left: 0;
		}
	}
	.testimonials-wrapper {
		@extend %bx-arrow;
		@media (min-width: 62.5em) {
			float: right;
			width: 50%;
		}
		.page-title {
			width: 100%;
		}
		.bx-controls-direction {
			a {
				margin-top: 0;
				height: 92%;
				top: 0;
				width: 4em;
				&:before {
					padding-top: 3em;
					padding-left: 0;
					padding-right: 0;
				}
			}
			.bx-prev {
				left: 0;
				padding-left: 1em;
			}
			.bx-next {
				right: 0;
				padding-right: 1em;
			}
		}
	}
	.stats {
		@extend %section;
		background-color: $light-gray;
		float: right;
		margin-left: 2em;
		padding: 1em;
		max-width: 40%;
		.label {
			color: $blue;
		}
	}
}